<div class="login-container text-center">
	<div *ngIf="bLinkValid" class="card form-signin">
		<div class="card-body">
			<form>
				<img class="mb-4 imgResponsive" src="./assets/images/project_logo.png">
				<h1>Scanetix</h1>
				<h5 class="mb-3">Please enter your new Password</h5>
				<label for="inputPass1" class="sr-only">Password</label>
				<input #inputPass1 id="inputPass1" type="password" name="password" class="form-control" tabindex="1" placeholder="Password" [(ngModel)]="pass1" (blur)="inputPasswordChange($event)"/>
				<label for="inputPass2" class="sr-only">Confirm Password</label>
				<input #inputPass2 id="inputPass2" type="password" name="password" class="form-control" tabindex="2" placeholder="Confirm Password" [(ngModel)]="pass2" (blur)="inputPasswordChange($event)"/>
				<div *ngIf="!bPasswordMatch" class="alert alert-danger">
					Passwords do not match!
				</div>
				<div class="d-grid">
					<button type="button" tabindex="3" class="btn btn-primary mt-3 mb-5" (click)="submit()">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div *ngIf="!bLinkValid" class="card form-signin">
		<div class="card-body">
			<form>
				<img class="mb-4 imgResponsive" src="./assets/images/project_logo.png">
				<h1>Scanetix</h1>
				<h5 class="mb-3">This link is no longer valid</h5>
				<p>Please check you have entered the correct URL, or <a href="./resetpassword">request a new Password Reset Link</a></p>
			</form>
		</div>
	</div>
</div>
