<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="1">
        <h1 class="float-start display-3 me-4">404</h1>
      </c-col>
      <c-col md="4">
        <h4 class="pt-3">Oops! You're lost.</h4>
        <p class="text-medium-emphasis float-start">
          The page you are looking for was not found.
        </p>
        <p class="text-medium-emphasis float-start">
          <a href="./#/dashboard">Click here to go back to the dashboard</a>
        </p>
      </c-col>
    </c-row>
  </c-container>
</div>
