<div class="login-container text-center">
	<div *ngIf="step == 1" class="card form-signin">
		<div class="card-body">
			<form>
				<img class="mb-4 imgResponsive" src="./assets/images/project_logo.png">
				<h1>Scanetix</h1>
				<h5 class="mb-3">Enter your email below to receive a reset link</h5>
				<label for="inputEmail" class="sr-only">Email</label>
				<input #inputEmail id="inputEmail" type="text" name="email" class="form-control" tabindex="0" placeholder="Email"/>
				<div class="d-grid">
					<button type="button" tabindex="0" class="btn btn-primary mt-3 mb-5" (click)="reset(inputEmail.value)">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div *ngIf="step == 2" class="card form-signin">
		<div class="card-body">
			<form>
				<img class="mb-4 imgResponsive" src="./assets/images/project_logo.png">
				<h1>Scanetix</h1>
				<h5 class="mb-3">Request received, please await an email with further instructions</h5>
				<div class="d-grid">
					<button type="button" tabindex="0" class="btn btn-primary mt-3 mb-5" (click)="backToLogin()">Back to Login</button>
				</div>
			</form>
		</div>
	</div>
</div>
