// Here you can add other styles

smart-menu {
	--smart-menu-vertical-default-height: auto;
	// --smart-font-size: 0.85rem;
	// --smart-bar-width: 10px;
}

body {
	--smart-font-size: 0.85rem;

	--smart-grid-default-width: 100%;
	--smart-grid-default-height: 100%;
}

div.smart-menu-item-label-element > span > i {
	margin-right: 5px;
}

.imgResponsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.login-container {
	min-height: 100vh;
	display: flex;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}